@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-padrao: Lato, sans serif;
    --font: Oswald, sans serif;
    --cor01:#F0C335; 
    --cor03: #F2DE65;
    --cor05: #c3ae3a;
}

body {
    font-family: var(--font);
}

#header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.918);
    height: 70px;
}

nav {
    font-family: var(--font-padrao) ;
    width: 100%;
}

.logo {
    float: left;
    font-family: var(--font-padrao);
    text-transform: uppercase;
    color: #c3ae3a;
    letter-spacing: 5px;
    font-size: 50px;
}

li {
    float: right;
    list-style: none;
    text-transform: uppercase;
    margin-right: 10px;
    text-align: center;
    color: #c3ae3a;
}

nav a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #c3ae3a;
}

.menu, .logo {
    line-height: 65px;
    margin-left: 20px;
}

.menu {
    letter-spacing: 2px;
    font-size: 100%;
}

a:hover {
    background-color: #c3ae3a;
    color: black;
    border-radius: 4px;
}

@media screen and (max-width: 600px) {
    #header {
        height: auto;
    }

    .menu {
        float: left;
    }

    a {
        float: left;
        font-size: 13px;
    }

    .logo {
        display: inline;
        text-align: center;
        padding-left: 50px;
    }

     {
        background-color: red;
        padding-right: 50px;
    }
}

/* Main Section */

#title {
    position: absolute;
    z-index: 9999;
    font-size: 60px;
    left: 35%;
    top: 75%;
}
 
#title h2 {
    text-transform: uppercase;
    font-family: var(--font-padrao);
    font-weight: 600;
    font-size: 70px;
    line-height: 80px;
    color: #c3ae3a;
}

.cover-img {
    background: linear-gradient(rgba(0, 0, 0, 0.729), rgba(0, 0, 0, 0.727)), url('/images/header5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150vh;
    width: 100%;
    top: 0;
    z-index: 0;
}

@media screen and (max-width: 600px) {
    .cover-img {
        margin: auto;
        padding: 30px;

    }
}

/* our class - CARDS */

#container-card {
    height: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 2rem 0;
    flex-wrap: wrap ;
}

#container-card h3 {
    font-family: var(--font);
}

.heading {
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: var(--font-padrao);
    color: #c3ae3a;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

.card-body {
    padding: 0 5%;
}

.card {
    height: 80vh;
    width: 30%;
    text-align: center;
    border: 1.5px solid #c3ae3a;
    border-radius: 10px;    
}

.card-img-top {
   height: auto;
   width: 100%;
   align-items: center;
   border-radius: 9px;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}

.card-title {
    color: #c3ae3a;
    font-size: 25px;
}

button a {
    color: #c3ae3a;
}

.btn-our-class {
    position: relative;
    left: 5px;
    bottom: -15px;

    color: #c3ae3a;
    border: 1px solid #c3ae3a;
    padding: 10px 20px;
    cursor: pointer;
    height: 45px;
    border-radius: 6px;
    margin: 20px;
    background-color: white;
}

p {
    color: black;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    line-height: 35px;
    margin-top: 10px;
}

.book-class a {
    color: #c3ae3a;
}

/* ABOUT US */

#about-us {
    height: 10%;
}

#container-about-us {
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/header.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-us-text {
    width: 100%;
    height: 100%;
}

#about-us h2 {
    text-align: center;
    font-size: 45px;
}

.about-us-text h3 {
    font-family: var(--font);
    text-transform: uppercase;
    font-size: 35px;
    color: #c3ae3a;
    padding: 40px 40px 25px 40px;
    letter-spacing: 3px;
}

.about-us-text p {
    padding: 50px;
    font-family: var(--font);
    line-height: 35px;
    font-size: 120%;
    text-align: justify;
    padding-bottom: 70px;
}

/* second page our classes*/

#container-crossfit {
    height: auto;
    display: flex;
    justify-content: space-around;
}

.text-second-page {
    width: 50%;
}

.text-second-page {
    height: auto;
    width: 600px;
    padding: 20px;
}

.text-second-page h3 {
    font-size: 40px;
    padding: 10px;
    color: #c3ae3a;
}

.text-second-page p {
    padding: 10px;
}

.second-page-img {
    height: 450px;
    width: 450px;
    padding-top: 40px;
}

#container-yoga {
    height: auto;
    display: flex;
    justify-content: space-around; 
}

#container-zumba {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    #container-crossfit {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    #container-crossfit p {
        padding: 60px;
    }

    #container-yoga {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 20px;
        text-align: center;
    }

    #container-yoga p {
        margin: auto;
        padding: 60px;
    }

    #container-zumba {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    #container-zumba p {
        margin: auto;
        padding: 60px;
    }

    br {
        width: 50%;
    }
}

/* Form */

.sec-form {
    height: 100%;
    margin: auto;
    margin-bottom: 30px;
}

.form-contact h2 {
    font-size: 40px;
    padding-bottom: 30px;
}

.form-contact {
    position: relative;
    text-align: center;
    font-family: var(--font-padrao);
    font-size: 1.3rem;
    padding: 5px;
}

input {
    width: 350px;
    height: 25px;
    border: 1px solid #c3ae3a;
    border-radius: 5px;
}

textarea {
    width: 350px;
    height: 150px;
    border: 1px solid #c3ae3a;
    border-radius: 5px;
}

.btn-form {
    width: 80px;
    height: 1.5rem;
    margin-top: 10px;
    border: 1px solid #c3ae3a;
    border-radius: 5px;
    background-color: #c3ae3a;
    color: black;
    font-family: var(--font-padrao);
    font-size: 1rem;
}

/* FOOTER */

#footer-flex {
    display: flex;    
    background-color: #00080A;
}

.footer-container {
    display: inline-block;
    text-align: center;
}

#footer-flex div {
    width: 30%;
}  

.social-medias > li {
    display: inline;
    list-style: none;
    padding: 40px;
}

.social-medias i {
    color: var(--cor05);
    justify-content: space-between;
    font-size: 25px;
    padding-top: 60px;
}

li {
    list-style: none;
    font-size: 16px;
    padding: 18px;
}

#footer-flex h2 {
    font-size: 28px;
    letter-spacing: 4px;
}

#footer-flex p {
    text-align: center;
    color: rgba(255, 255, 255, 0.636);
    line-height: 40px;
}

@media screen and (max-width: 600px) {
    #footer-flex {  
        background-color: red;
        flex-direction: column;
        font-size: 10p;
        padding: 80px;
        align-items: center;
    }  

    .footer-container li {
        text-align: center;
        flex-wrap: wrap;
    }

    #footer-flex h2 {
        font-size: 30px;
        text-align: center;
        float: left;
    }

    #footer-container ul p {
        padding-left: 40%;
    }

    .info-footer {
        text-align: center;
    }

    .social-medias {
        display: flex;
        padding-right: 50%;
    }

    .social-medias li {
        padding-left: 3%;
    }
}

@media screen and (max-width: 600px) {
    nav {
        height: auto;
        float: left;
    }
}

@media screen and (max-width: 600px){
    .card {
        height: 100%;
        width: 100%;
        padding: 2rem 0;
    }

    #container-card {
        height: fit-content;
    }
}