@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-padrao: Lato, sans serif;
    --font: Oswald, sans serif;
    --cor01:#F0C335; 
    --cor02: #4C3570;
    --cor03: #F2DE65;
    --cor04: #4C3570;
    --cor05: #c3ae3a;
}

body {
    font-family: var(--font);
}

h1, h2 {
    font-family: var(--font);
    color: #c3ae3a;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float: left;
    margin: 15px;
    font-family: var(--font-padrao);
    font-size: 280%;
    color: white;
}

#menu {
    font-size: 120%;
    letter-spacing: 4px;
    font-size: var(--font-padrao);
    width: 100%;
}

#menu li {
    float: right;
    list-style: none;
    padding: 20px;
}

#menu a {
    text-decoration: none;
    color: white;
}

#header-img {
    background: url('../images/main-header.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    width: 100%;
}

#content-img {
    background: url('/images/istockphoto-820212542-2048x2048.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    width: 50%;
    height: 600px;
}

#container-main {

    justify-content: space-between;
    height: 600px;
    align-items: center;
    padding: 40px;
}

.container-join {
    float: left;
    text-align: center;    
    width: 50%;
    height: 600px;
}

.start-p {
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 70px;
    font-weight: 100;
    padding: 30px;
}

.bold-text {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 70px;
    color: black;
    text-align: center;
    margin-top: -70px;
    font-weight: bold;
    padding-top: 70px;
}

.book-free {
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    font-family: var(--font-padrao);
    padding-top: 100px;
}

a {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    font-size: 17px;
}

.book-class-main {
    color: #c3ae3a;
    border: 1px solid #c3ae3a;
    background-color: white;
    padding: 15px 28px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    border-radius: 6px;
    margin: 20px;
    position: relative;
    left: 0;
    top: 80px;
}

.book-class a {
    color: #c3ae3a;
}

section {
    margin: 20px, 10px;
}

section h2 {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    text-align: center;
}

/* our class */

#container {
    align-items: center;
    justify-content: space-around;
    height: 120vh;
    margin-top: x;
    background-color: white;
}

.heading {
    padding-bottom: 50px;
}

.our-class {
    float:left;
    height: 400px;
    width: 33%;
    font-size: 30px;
}

.heading-our-classes {
    text-align: center;
    font-size: 30px;
}

p {
    color: black;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    line-height: 35px;
    margin-top: 10px;
}

.img-our-class {
    max-width: 100%;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 10px;
}

.book-class {
    color: #c3ae3a;
    border: 1px solid #c3ae3a;
    padding: 15px 28px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    border-radius: 6px;
    margin: 20px;
    background-color: white;
}

.book-class a {
    color: #c3ae3a;
}

button {
    position: relative;
    left: 120px;
}

#container-about-us {
    height: 150vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/about-us.jpeg');
}

#container-about-us h2 {
    padding: 30px;
}

#container-about-us p {
    color: white;
    font-family: var(--font-padrao);
    font-size: 30px;
    text-align: left;
    line-height: 45px;
    text-align: justify;
}

.sister-p {
    box-sizing: border-box;
    border: 2px solid #c3ae3a;
    border-radius: 8px;
    position: relative;
    top: 150px;
}

























/* teoria do apego / amor sujo de amor / enerfia masculina e feminina * /
/* section our class 

#about-us-text {
    text-align: center;
    padding: 10px;
    font-size: 230%;
    letter-spacing: 10px;
    position: relative;
}

#about-us {
    height: 508px;
    width: 50%;
    text-align: justify;
    letter-spacing: 1px;
    color: #000000;
}

#about-us p {
    padding: 10px;
    font-size: 149%;
    font-family: var(--font-padrao);
    letter-spacing: 2px;
    line-height: 1.5em;
}


strong {
    text-transform: uppercase;
    color: #c3ae3a;
}
*/



