@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-padrao: Lato, sans serif;
    --font: Oswald, sans serif;
    --cor01: #F0C335;
    --cor05: #c3ae3a;
}

body {
    font-family: var(--font);
}

/* nav */

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left, #161515, #c3ae3a);
    color: black;
    font-size: 1.8em;
    text-transform: uppercase;
    height: 40px;
    padding: 1em;
}


h2 {
    vertical-align: center;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #c3ae3a;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

li {
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    color: #c3ae3a;
    font-size: 18px;
}

nav a {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #c3ae3a;
}

a:hover {
    background-color: #c3ae3a;
    color: black;
    border-radius: 4px;
}

#footer-flex {
    display: flex;
    background-color: #00080A;
    flex-wrap: wrap;
}

/* Main Section */

#title {
    position: absolute;
    z-index: 9999;
    font-size: 60px;
    left: 35%;
    top: 75%;
}

#title h2 {
    text-transform: uppercase;
    font-family: var(--font-padrao);
    font-weight: 600;
    font-size: 70px;
    line-height: 80px;
    color: #c3ae3a;
}


.cover-img {
    background: linear-gradient(rgba(0, 0, 0, 0.729), rgba(0, 0, 0, 0.727)), 
    url('../assets/images/header5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150vh;
    width: 100%;
    top: 0;
    z-index: 0;
}

/* our class - CARDS */

#container-card {
    height: auto;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 2rem 0;
    flex-wrap: wrap;
}

#container-card h3 {
    font-family: var(--font);
}

.heading {
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: var(--font-padrao);
    color: #c3ae3a;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

.card-body {
    padding: 0 5%;
}

.card {
    height: 550px;
    width: 30%;
    text-align: center;
    border: 1.5px solid #c3ae3a;
    border-radius: 10px;
}

.card-img-top {
    height: auto;
    width: 100%;
    align-items: center;
    border-radius: 9px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-title {
    color: #c3ae3a;
    font-size: 25px;
}

button a {
    color: #c3ae3a;
}

.btn-our-class {
    position: relative;
    left: 5px;
    top: 40px;
    width: 20%;
    color: #c3ae3a;
    border: 1px solid #c3ae3a;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 6px;
    background-color: white;
}

p {
    color: black;
    padding: 10px;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
}

.book-class a {
    color: #c3ae3a;
}

/* ABOUT US */

#about-us {
    height: 10%;
}

#container-about-us {
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url('../assets/images/header.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-us-text {
    width: 100%;
    height: 100%;
}

#about-us h2 {
    text-align: center;
    font-size: 45px;
    color: #c3ae3a;
    font-family: var(--font);
    text-transform: uppercase;
    letter-spacing: 4px;
}

.about-us-text h3 {
    font-family: var(--font);
    text-transform: uppercase;
    font-size: 35px;
    color: #c3ae3a;
    padding: 40px 40px 25px 40px;
    letter-spacing: 3px;
}

.about-us-text p {
    padding: 50px;
    font-family: var(--font);
    line-height: 35px;
    font-size: 120%;
    text-align: justify;
    padding-bottom: 70px;
}

/* second page our classes*/

#container-crossfit {
   width: 100%;
   display: flex;
   justify-content: space-around;
   justify-items: center;
   margin: 2rem 0;
   flex-wrap: wrap;
}

.text-second-page {
    width: 700px;
}

.text-second-page h3 {
    font-size: 50px;
    padding: 10px;
    padding-top: 30px;
    padding-left: 45px;
    color: #c3ae3a;
    text-align: left;
}

.text-second-page p {
    padding-left: 50px;
    padding-top: 30px;
    line-height: 35px;
}

.second-page-img {
    height: 450px;
    width: 450px;
    padding: 40px;
}

#container-yoga {
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 2rem 0;
    flex-wrap: wrap;
}

#container-zumba {
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin: 2rem 0;
    flex-wrap: wrap;
}

/* Form */

.sec-form {
    height: 100%;
    margin: auto;
    margin-bottom: 30px;
}

.form-contact h2 {
    font-size: 40px;
    padding-bottom: 30px;
}

.form-contact {
    position: relative;
    text-align: center;
    font-family: var(--font-padrao);
    font-size: 1.3rem;
    padding: 5px;
}

input {
    width: 350px;
    height: 25px;
    border: 1px solid #c3ae3a;
    border-radius: 5px;
}

textarea {
    width: 350px;
    height: 150px;
    border: 1px solid #c3ae3a;
    border-radius: 5px;
}

.btn-form {
    width: 80px;
    height: 1.5rem;
    margin-top: 10px;
    border: 1px solid #c3ae3a;
    border-radius: 5px;
    background-color: #c3ae3a;
    color: black;
    font-family: var(--font-padrao);
    font-size: 1rem;
}

/* FOOTER */

.footer-container {
    display: inline-block;
    text-align: center;
}

#footer-flex div {
    width: 30%;
}

.social-medias>li {
    display: inline;
    list-style: none;
    padding: 0 40px;
}

.social-medias i {
    color: var(--cor05);
    justify-content: space-between;
    font-size: 25px;
    padding-top: 60px;
}

#footer-flex h2 {
    font-size: 28px;
    letter-spacing: 4px;
}

#footer-flex p {
    text-align: center;
    color: rgba(255, 255, 255, 0.636);
    line-height: 40px;
}

@media screen and (min-width: 375px) {

    #container-img h2{
        position: relative;
        right: 70px;
        top: 90%;
        font-size: 1.2em;
    }    

    #title {
        width: 100px;
    }
}

@media screen and (max-width: 600px) {
    
    #title {
        left: 40%;
        top: 90%;
    }

    .card {
        width: 100%;
        height: fit-content;
        margin: 1rem 0;
    }

    .btn-our-class {
        position: relative;
        top: 5px;
    }

    textarea {
        width: 100%;
    }

    input {
        width: 100%;
    }

    #footer-flex div {
        width: 100%;
        padding: 10px;
    }

    #header {
        height: auto;
        width: 100%;
    }

    a {
        font-size: 13px;
    }
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 80px;
        left: 0;
        flex-direction: column;
        width: 97%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

/* media queries second page */

@media screen and (min-width: 375px) {

    #container-img h2{
        position: relative;
        right: 70px;
        top: 90%;
        font-size: 1.2em;
        width: auto;
    }    

    #title {
        width: 100px;
        margin: 30px;
    }

    #container-img-crossfit {
        margin: 30px;
    }

    #container-img-yoga {
        width: auto;
        margin: 30px;
    }

    #container-img-zumba {
        margin: 30px;
        width: auto;
    }

    .second-page-img {
        width: auto;
    }
}

@media screen and (max-width: 600px){

    .text-second-page {
        width: auto;
        padding-right: 30px;
    }

    .second-page-img {
        height: fit-content;
        width: 300px;
    }

    #section-second-page h3 {
        text-align: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px){

    #title {
        left: 10%;
        top: 90%;
    }

    .card {
        width: 100%;
        height: fit-content;
        margin: 1rem 0;
    }

    .card-body p {
        font-size: 15px;
    }

    .btn-our-class {
        top: 10px;
    }

}

@media screen and (min-width: 768px){

    #container-card {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .card {
        height: fit-content;
    }

    .card-body p {
        justify-content: center;
        text-align: center;
        font-size: 1em;
        height: 180px;
    }

    .btn-our-class {
        top: -20px;
        font-size: 14px;
    }

    #zumba-btn {
        top: -20px;
    }
}

@media screen and (max-width: 992px) {

    #title {
        left: 30%;
        top: 90%;
    }

    #container-card {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .card {
        height: fit-content;
    }

    .card-body p {
        height: 180px;
        text-align: justify;
    }

    .btn-our-class {
        top: -20px;
        height: 20px;
        padding: 10px;
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {

    #title {
        position: absolute;
        left: 5%;
        top: 90%;
        width: 100%;

    }

    .card-body p {
        font-size: 20px;
        text-align: justify;
        padding: 20px;
        height: 180px;
    }

    .btn-our-class {
        top: -35px;
    }

    #zumba-btn {
        top: -35px;
    }
}

@media screen and (min-width: 1440px) {

    #title {
        position: absolute;
        left: 5%;
        top: 90%;
        width: 100%;
    }